form {
	padding: 20px;
}

#add-event .mdl-textfield {
	width: 100%;
}

.mdl-data-table {
    width: 100%;
}

.my-search {
	margin-top: 6px;
}

.my-layout {
	border: none;
}

.my-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.my-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.my-avatar {
	width: 48px;
	height: 48px;
	border-radius: 100%;
}

.my-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.my-layout .my-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.my-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}
.my-layout .my-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

#gallery img{
  width: 100%;
  border-radius: 5px;
}

.event_img_heading {
  padding-left: 15px;
  padding-top: 15px;
  color: #606060;
}

.event_img_heading-gallery {
  margin-top: -5px;
  margin-bottom: -5px;
}

#images_block {
  margin-top: -16px;
}