h4{
	color: "#606060";
}

form button {
	float: right;
}

.text_padding {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 15px;
}


#add_event {
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 50px;
}

/*################### Images Gallery ####################*/
#gallery_showcase {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;

	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
}

#gallery_showcase > img {
	border-radius: 5px;
	height: 80%;
	width: 80%;
}

#gallery_showcase > a {
	margin-top: 17%;
}

#gallery img{
	width: 100%;
	border-radius: 5px;
}

.selected_img {
	border: 2px solid #E91E63;
}


/*###################### About page #####################*/

.demo-container {
  	max-width: 1600px;
  	width: calc(100% - 16px);
  	margin: 0 auto;
}

.demo-content {
	border-radius: 2px;
	padding: 80px 56px;
	margin-bottom: 80px;
	opacity: 0.95;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background: url(../img/ribbon.jpg);
  flex-shrink: 0;
  margin-bottom: -35vh;
}

/*####################### Events ##########################*/
#archive {
	margin-top: 8px;
	padding-left: 15px;
	padding-right: 15px;

}

.events_list a {
	text-decoration: none;
}

.events_list li:hover {
	color: red;
}

.events_list li {
	list-style-type: none;
}

.demo-card-square.mdl-card {
     width: 100%;
     height: 300px;
 }
.demo-card-square > .mdl-card__title {
    color: #fff;
    /*background: url('../img/services/gifts.jpg') bottom right 15% no-repeat #46B6AC;*/
}

p
{
    margin-left: 20px;
    margin-right: 20px;
}

h3, h4
{
    margin-left: 20px;
}
